# App
HOST=0.0.0.0
PORT=3000
CORS=http://localhost:3000

# API
API_PREFIX=/

# HTTP
HTTP_SOCKET_TIMEOUT=30000
HTTP_REQUEST_TIMEOUT=6000
HTTP_HEADERS_TIMEOUT=3000
HTTP_KEEP_ALIVE_TIMEOUT=72000

# Logging
LOGGING_LEVEL=info
LOGGING_ERROR_STACK=false
LOGGING_ERROR_IGNORE_NAMES=
LOGGING_ERROR_IGNORE_URLS=/favicon.ico
